exportPattern("^[^\\.]")

import("mvtnorm")

importFrom("graphics", "legend", "lines", "plot", "points")
importFrom("stats", "optim", "optimize", "qnorm", "qunif")
importFrom("utils", "write.table")
importFrom("quadform",
           "quad.form",
           "quad.form.inv",
           "quad.tform",
           "cprod", "ht")

export("quad.form", "quad.form.inv", "quad.3form", "quad.tform", "cprod", "ht")

