exportPattern("^[^\\.]")

import("mvtnorm")

importFrom("graphics", "legend", "lines", "plot", "points")
importFrom("stats", "optim", "optimize", "qnorm", "qunif")
importFrom("utils", "write.table")
importFrom("quadform",
           "quad.form",
           "quad.form.inv",
           "quad3.form",
           "quad.tform",
           "cprod", "ht", "tcprod")

export(
    "quad.form",
    "quad.form.inv",
    "quad3.form",
    "quad.tform",
    "cprod",
    "ht",
    "tcprod"
)


# quad.3form() [defined in this package] is legacy, this will be removed in due course
export("quad.3form") 
